## Pandas

In [2]:
import pandas as pd
import numpy as np

In [12]:
data = {
    "Name": "John",
    "Sex": "male",
    "Age": 12,
}
data

{'Name': 'John', 'Sex': 'male', 'Age': 12}

In [13]:
pd.Series(data)

Name    John
Sex     male
Age       12
dtype: object

In [15]:
array = np.array([22, 31, 42, 23])
age_series = pd.Series(array)

In [16]:
array = np.array(["John", "male", 23])
John_series = pd.Series(array, index=["name", "Sex", "Age"])
John_series["name"]

'John'

In [18]:
age_series.values

array([22, 31, 42, 23])

In [19]:
age_series.mean()

29.5

In [3]:
taishi_df = pd.read_csv("taishi.csv", encoding="utf-8")

In [37]:
import sys
sys.getdefaultencoding()

'utf-8'

In [29]:
ndarray = np.arange(10).reshape(2,5)
ndarray

array([[0, 1, 2, 3, 4],
       [5, 6, 7, 8, 9]])

In [57]:
pd.DataFrame(ndarray, index=["index1", "index2"], columns=["a", "b", "c", "d", "e"])

        a  b  c  d  e
index1  0  1  2  3  4
index2  5  6  7  8  9

In [4]:
pd.DataFrame(taishi_df)

,武将姓,武将名,統率,武勇,知略,内政,外政,戦闘,政治,合計,...,没年,寿命,義理親,志,戦法,補佐,作戦,気質,野心,母親
0,蠣崎,季広,65,54,73,84,76,119,160,352,...,1595年,89,-,領地保全,激励,堅固,囮挑発,実利,8,-
1,蠣崎,慶広,67,54,71,84,83,121,167,359,...,1616年,69,-,領地保全,逆撫で,奪力,囮挑発,家名,11,-
2,蠣崎,盛広,49,46,40,67,52,95,119,254,...,1608年,38,-,家名存続,足止め,回避,神出鬼没,家名,3,-
3,蠣崎,守広,42,46,53,61,57,88,118,259,...,1635年,72,-,家名存続,臨戦,万全梟雄,囮挑発,実利,5,-
4,近藤,義武,55,69,63,59,62,124,121,308,...,1638年,70,-,領地保全,突撃,速攻謀神奇略,全軍突撃,勲功,5,-
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2180,お,江,71,63,70,75,72,134,147,351,...,1626年,54,-,天下統一,舞姫,技巧,神出鬼没,実利,1,-
2181,斎藤,福,63,58,74,73,73,121,146,341,...,1643年,65,-,領地保全,激励,堅固,囮挑発,家名,3,-
2182,妻木,熙子,57,39,73,78,75,96,153,322,...,1576年,47,-,領地保全,挟撃巧者,地利,神出鬼没,家名,1,明智光秀
2183,櫛橋,光,73,46,80,85,82,119,167,366,...,1627年,75,-,領地保全,死兵,万全,囮挑発,才覚,3,-
2184,愛,姫,73,58,82,74,52,131,126,339,...,1653年,86,-,天下統一,叱咤,治癒,囮挑発,才覚,8,-

In [61]:
taishi_df.columns

Index(['武将姓', '武将名', '統率', '武勇', '知略', '内政', '外政', '戦闘', '政治', '合計', '父親',
       '姓読み', '名読み', '誕生年', '登場年', '没年', '寿命', '義理親', '志', '戦法', '補佐', '作戦',
       '気質', '野心', '母親'],
      dtype='object')

In [66]:
data1 = {
    "Name": "John",
    "Sex": "male",
    "Age": 12,
}
data2 = {
    "Name": "Zack",
    "Sex": "male",
    "Age": 32,
    "etc":"test"
}
data3 = {
    "Name": "Emily",
    "Sex": "female",
    "Age": 32,
}

In [67]:
pd.DataFrame([data1, data2, data3])

    Name     Sex  Age   etc
0   John    male   12   NaN
1   Zack    male   32  test
2  Emily  female   32   NaN

In [74]:
data1 = {
    "Name": ["John","Zack","Emily"],
    "Sex": ["male", "male","female"],
    "Age": [12,30,32]
}

df = pd.DataFrame(data1)

df

## pd.read_csv()

In [5]:
df = pd.read_csv("dataset/tmdb_5000_movies.csv")

In [85]:
# pd.set_option("display.max_columns", None)
# pd.set_option("display.max_rows", None)

In [8]:
df.head(3)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2015-10-26,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466

In [78]:
len([1,2,3,4])

4

In [9]:
df.describe()

,budget,id,popularity,revenue,runtime,vote_average,vote_count
count,4.803000e+03,4803.000000,4803.000000,4.803000e+03,4801.000000,4803.000000,4803.000000
mean,2.904504e+07,57165.484281,21.492301,8.226064e+07,106.875859,6.092172,690.217989
std,4.072239e+07,88694.614033,31.816650,1.628571e+08,22.611935,1.194612,1234.585891
min,0.000000e+00,5.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000
25%,7.900000e+05,9014.500000,4.668070,0.000000e+00,94.000000,5.600000,54.000000
50%,1.500000e+07,14629.000000,12.921594,1.917000e+07,103.000000,6.200000,235.000000
75%,4.000000e+07,58610.500000,28.313505,9.291719e+07,118.000000,6.800000,737.000000
max,3.800000e+08,459488.000000,875.581305,2.787965e+09,338.000000,10.000000,13752.000000

In [11]:
taishi_df.describe()

,統率,武勇,知略,内政,外政,戦闘,政治,合計,寿命,野心
count,2185.000000,2185.000000,2185.000000,2185.000000,2185.000000,2185.000000,2185.000000,2185.000000,2185.000000,2185.000000
mean,55.029291,55.394508,57.666819,54.928604,54.983982,110.423799,109.912586,278.003204,57.089245,7.315332
std,15.239813,15.114034,14.212565,15.425154,15.282781,28.127340,29.903954,56.563690,16.480891,6.981652
min,22.000000,8.000000,20.000000,8.000000,15.000000,32.000000,29.000000,126.000000,12.000000,1.000000
25%,44.000000,44.000000,47.000000,44.000000,44.000000,90.000000,88.000000,239.000000,45.000000,5.000000
50%,55.000000,55.000000,57.000000,55.000000,55.000000,110.000000,109.000000,273.000000,57.000000,7.000000
75%,66.000000,66.000000,67.000000,65.000000,65.000000,129.000000,131.000000,311.000000,69.000000,9.000000
max,100.000000,100.000000,100.000000,100.000000,100.000000,198.000000,196.000000,477.000000,162.000000,309.000000

In [12]:
df.columns

Index(['budget', 'genres', 'homepage', 'id', 'keywords', 'original_language',
       'original_title', 'overview', 'popularity', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'vote_average',
       'vote_count'],
      dtype='object')

In [16]:
df[["revenue","budget"]]

         revenue     budget
0     2787965087  237000000
1      961000000  300000000
2      880674609  245000000
3     1084939099  250000000
4      284139100  260000000
...          ...        ...
4798     2040920     220000
4799           0       9000
4800           0          0
4801           0          0
4802           0          0

[4803 rows x 2 columns]

In [14]:
taishi_df["統率"]

0       65
1       67
2       49
3       42
4       55
        ..
2180    71
2181    63
2182    57
2183    73
2184    73
Name: 統率, Length: 2185, dtype: int64

In [21]:
df.iloc[10:13]["original_title"]

10                              Superman Returns
11                             Quantum of Solace
12    Pirates of the Caribbean: Dead Man's Chest
Name: original_title, dtype: object

In [22]:
ndarray = np.arange(25).reshape(5,5)

In [24]:
index = ["a", "b", "c", "d", "e"]
columns = [0,1,2,3,4]
df = pd.DataFrame(ndarray, index=index,columns =columns)

In [25]:
df[0]

a     0
b     5
c    10
d    15
e    20
Name: 0, dtype: int64

In [26]:
df.loc["b"]

0    5
1    6
2    7
3    8
4    9
Name: b, dtype: int64

In [27]:
df

    0   1   2   3   4
a   0   1   2   3   4
b   5   6   7   8   9
c  10  11  12  13  14
d  15  16  17  18  19
e  20  21  22  23  24

In [32]:
s = pd.Series([100,100,100,100,100], index =["a","b","c","d","e"])
df[5] = s

In [33]:
df

     0   1   2   3   4    5
a  100   1   2   3   4  100
b  100   6   7   8   9  100
c  100  11  12  13  14  100
d  100  16  17  18  19  100
e  100  21  22  23  24  100

In [34]:
df = pd.read_csv("dataset/tmdb_5000_movies.csv")

In [35]:
df.head()

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2015-10-26,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-07-16,1084939099,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-03-07,284139100,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124

In [37]:
df.drop(0)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2015-10-26,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-07-16,1084939099,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-03-07,284139100,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124
5,258000000,"[{""id"": 14, ""name"": ""Fantasy""}, {""id"": 28, ""na...",http://www.sonypictures.com/movies/spider-man3/,559,"[{""id"": 851, ""name"": ""dual identity""}, {""id"": ...",en,Spider-Man 3,The seemingly invincible Spider-Man goes up ag...,115.699814,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-01,890871626,139.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,The battle within.,Spider-Man 3,5.9,3576
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4798,220000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",NaN,9367,"[{""id"": 5616, ""name"": ""united states\u2013mexi...",es,El Mariachi,El Mariachi just wants to play his guitar and ...,14.269792,"[{""name"": ""Columbia Pictures"", ""id"": 5}]","[{""iso_3166_1"": ""MX"", ""name"": ""Mexico""}, {""iso...",1992-09-04,2040920,81.0,"[{""iso_639_1"": ""es"", ""name"": ""Espa\u00f1ol""}]",Released,"He didn't come looking for trouble, but troubl...",El Mariachi,6.6,238
4799,9000,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 10749, ""...",NaN,72766,[],en,Newlyweds,A newlywed couple's honeymoon is upended by th...,0.642552,[],[],2011-12-26,0,85.0,[],Released,A newlywed couple's honeymoon is upended by th...,Newlyweds,5.9,5
4800,0,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 18, ""nam...",http://www.hallmarkchannel.com/signedsealeddel...,231617,"[{""id"": 248, ""name"": ""date""}, {""id"": 699, ""nam...",en,"Signed, Sealed, Delivered","""Signed, Sealed, Delivered"" introduces a dedic...",1.444476,"[{""name"": ""Front Street Pictures"", ""id"": 3958}...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2013-10-13,0,120.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,NaN,"Signed, Sealed, Delivered",7.0,6
4801,0,[],http://shanghaicalling.com/,126186,[],en,Shanghai Calling,When ambitious New York attorney Sam is sent t...,0.857008,[],"[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-05-03,0,98.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,A New Yorker in Shanghai,Shanghai Calling,5.7,7
4802,0,"[{""id"": 99, ""name"": ""Documentary""}]",NaN,25975,"[{""id"": 1523, ""name"": ""obsession""}, {""id"": 224...",en,My Date with Drew,Ever since the second grade when he first saw ...,1.929883,"[{""name"": ""rusty bear entertainment"", ""id"": 87...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2005-08-05,0,90.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,NaN,My Date with Drew,6.3,16

In [43]:
df.drop(["id","homepage"], axis=1)

,budget,genres,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2015-10-26,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...","[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-07-16,1084939099,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-03-07,284139100,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4798,220000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...","[{""id"": 5616, ""name"": ""united states\u2013mexi...",es,El Mariachi,El Mariachi just wants to play his guitar and ...,14.269792,"[{""name"": ""Columbia Pictures"", ""id"": 5}]","[{""iso_3166_1"": ""MX"", ""name"": ""Mexico""}, {""iso...",1992-09-04,2040920,81.0,"[{""iso_639_1"": ""es"", ""name"": ""Espa\u00f1ol""}]",Released,"He didn't come looking for trouble, but troubl...",El Mariachi,6.6,238
4799,9000,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 10749, ""...",[],en,Newlyweds,A newlywed couple's honeymoon is upended by th...,0.642552,[],[],2011-12-26,0,85.0,[],Released,A newlywed couple's honeymoon is upended by th...,Newlyweds,5.9,5
4800,0,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 18, ""nam...","[{""id"": 248, ""name"": ""date""}, {""id"": 699, ""nam...",en,"Signed, Sealed, Delivered","""Signed, Sealed, Delivered"" introduces a dedic...",1.444476,"[{""name"": ""Front Street Pictures"", ""id"": 3958}...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2013-10-13,0,120.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,NaN,"Signed, Sealed, Delivered",7.0,6
4801,0,[],[],en,Shanghai Calling,When ambitious New York attorney Sam is sent t...,0.857008,[],"[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-05-03,0,98.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,A New Yorker in Shanghai,Shanghai Calling,5.7,7
4802,0,"[{""id"": 99, ""name"": ""Documentary""}]","[{""id"": 1523, ""name"": ""obsession""}, {""id"": 224...",en,My Date with Drew,Ever since the second grade when he first saw ...,1.929883,"[{""name"": ""rusty bear entertainment"", ""id"": 87...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2005-08-05,0,90.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,NaN,My Date with Drew,6.3,16

In [44]:
df = df.drop(0)

In [46]:
taishi_df

,武将姓,武将名,統率,武勇,知略,内政,外政,戦闘,政治,合計,...,没年,寿命,義理親,志,戦法,補佐,作戦,気質,野心,母親
0,蠣崎,季広,65,54,73,84,76,119,160,352,...,1595年,89,-,領地保全,激励,堅固,囮挑発,実利,8,-
1,蠣崎,慶広,67,54,71,84,83,121,167,359,...,1616年,69,-,領地保全,逆撫で,奪力,囮挑発,家名,11,-
2,蠣崎,盛広,49,46,40,67,52,95,119,254,...,1608年,38,-,家名存続,足止め,回避,神出鬼没,家名,3,-
3,蠣崎,守広,42,46,53,61,57,88,118,259,...,1635年,72,-,家名存続,臨戦,万全梟雄,囮挑発,実利,5,-
4,近藤,義武,55,69,63,59,62,124,121,308,...,1638年,70,-,領地保全,突撃,速攻謀神奇略,全軍突撃,勲功,5,-
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2180,お,江,71,63,70,75,72,134,147,351,...,1626年,54,-,天下統一,舞姫,技巧,神出鬼没,実利,1,-
2181,斎藤,福,63,58,74,73,73,121,146,341,...,1643年,65,-,領地保全,激励,堅固,囮挑発,家名,3,-
2182,妻木,熙子,57,39,73,78,75,96,153,322,...,1576年,47,-,領地保全,挟撃巧者,地利,神出鬼没,家名,1,明智光秀
2183,櫛橋,光,73,46,80,85,82,119,167,366,...,1627年,75,-,領地保全,死兵,万全,囮挑発,才覚,3,-
2184,愛,姫,73,58,82,74,52,131,126,339,...,1653年,86,-,天下統一,叱咤,治癒,囮挑発,才覚,8,-

In [47]:
data

NameError: name 'data' is not defined

In [48]:
data = {
    "Name": ["John","Zack","Emily"],
    "Sex": ["male", "male","female"],
    "Age": [12,30,32]
}
df = pd.DataFrame(data)
df

    Name     Sex  Age
0   John    male   12
1   Zack    male   30
2  Emily  female   32

In [49]:
df[[True, False, True]]

    Name     Sex  Age
0   John    male   12
2  Emily  female   32

In [51]:
filter_series = pd.Series([True, False, True])
filter_series

0     True
1    False
2     True
dtype: bool

In [52]:
df[filter_series]

    Name     Sex  Age
0   John    male   12
2  Emily  female   32

In [55]:
filter_s = taishi_df["統率"] > 95

In [56]:
taishi_df[filter_s]

,武将姓,武将名,統率,武勇,知略,内政,外政,戦闘,政治,合計,...,没年,寿命,義理親,志,戦法,補佐,作戦,気質,野心,母親
123,伊達,政宗,96,87,86,95,81,183,176,445,...,1636年,70,-,昇り竜,独眼竜,名将,双頭の龍,野心,14,-
249,北条,氏康,96,88,85,99,79,184,178,447,...,1571年,57,-,禄寿応穏,関東王,名将,五色備え,家名,8,瑞渓院
295,松平,元康,99,88,89,93,88,187,181,457,...,1616年,75,-,欣求浄土,三河魂,治癒,囮挑発,実利,9,-
335,織田,信長,99,83,94,100,86,182,186,462,...,1582年,49,-,うつけの天下,六天魔王,名将,神出鬼・没鉄甲船,大志,12,-
450,武田,晴信,100,83,94,98,85,183,183,460,...,1573年,53,-,王道執行,甲斐の虎,名将,囮挑発,野心,14,三条の方
512,長尾,景虎,98,100,83,61,73,198,134,415,...,1578年,49,-,義戦,越後の龍,野襲,本陣斬込・車懸かり,仁義,5,-
767,毛利,元就,97,78,100,91,88,175,179,454,...,1571年,75,-,百万一心,謀神奇略,参謀,偽詐術策,家名,11,妙玖
964,島津,義弘,97,94,85,76,75,191,151,427,...,1619年,85,-,雄武英略,鬼島津,名将,釣り野伏,勲功,8,-
2141,北条,早雲,98,90,98,95,96,188,191,477,...,1519年,88,-,天下統一,策士,復讐,神出鬼没,野心,5,-

In [57]:
df = pd.read_csv("dataset/tmdb_5000_movies.csv")

In [58]:
df

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2015-10-26,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-07-16,1084939099,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-03-07,284139100,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4798,220000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",NaN,9367,"[{""id"": 5616, ""name"": ""united states\u2013mexi...",es,El Mariachi,El Mariachi just wants to play his guitar and ...,14.269792,"[{""name"": ""Columbia Pictures"", ""id"": 5}]","[{""iso_3166_1"": ""MX"", ""name"": ""Mexico""}, {""iso...",1992-09-04,2040920,81.0,"[{""iso_639_1"": ""es"", ""name"": ""Espa\u00f1ol""}]",Released,"He didn't come looking for trouble, but troubl...",El Mariachi,6.6,238
4799,9000,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 10749, ""...",NaN,72766,[],en,Newlyweds,A newlywed couple's honeymoon is upended by th...,0.642552,[],[],2011-12-26,0,85.0,[],Released,A newlywed couple's honeymoon is upended by th...,Newlyweds,5.9,5
4800,0,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 18, ""nam...",http://www.hallmarkchannel.com/signedsealeddel...,231617,"[{""id"": 248, ""name"": ""date""}, {""id"": 699, ""nam...",en,"Signed, Sealed, Delivered","""Signed, Sealed, Delivered"" introduces a dedic...",1.444476,"[{""name"": ""Front Street Pictures"", ""id"": 3958}...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2013-10-13,0,120.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,NaN,"Signed, Sealed, Delivered",7.0,6
4801,0,[],http://shanghaicalling.com/,126186,[],en,Shanghai Calling,When ambitious New York attorney Sam is sent t...,0.857008,[],"[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-05-03,0,98.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,A New Yorker in Shanghai,Shanghai Calling,5.7,7
4802,0,"[{""id"": 99, ""name"": ""Documentary""}]",NaN,25975,"[{""id"": 1523, ""name"": ""obsession""}, {""id"": 224...",en,My Date with Drew,Ever since the second grade when he first saw ...,1.929883,"[{""name"": ""rusty bear entertainment"", ""id"": 87...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2005-08-05,0,90.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,NaN,My Date with Drew,6.3,16

In [64]:
df[df["original_language"]=="ja"].describe()

KeyError: 'original_language'

In [65]:
df

,budget,id,popularity,revenue,runtime,vote_average,vote_count
count,1.600000e+01,16.000000,16.000000,1.600000e+01,16.000000,16.00000,16.000000
mean,1.429361e+07,53894.250000,25.663788,6.602892e+07,122.500000,7.05000,715.750000
std,1.194324e+07,94235.067388,31.637281,9.410171e+07,25.690465,0.95359,1060.489101
min,0.000000e+00,128.000000,0.212443,0.000000e+00,93.000000,5.40000,20.000000
25%,4.625000e+06,341.250000,4.699231,2.286308e+05,110.000000,6.37500,62.000000
50%,1.350000e+07,10817.000000,9.332925,1.323115e+07,119.500000,7.10000,140.000000
75%,2.100000e+07,42567.250000,39.629257,9.759383e+07,127.250000,7.90000,890.000000
max,4.167770e+07,315011.000000,118.968562,2.749251e+08,207.000000,8.30000,3840.000000

In [70]:
taishi_df[taishi_df["知略"] > 95].describe()
# df[df["original_language"]=="ja"].describe()

,統率,武勇,知略,内政,外政,戦闘,政治,合計,寿命,野心
count,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000
mean,91.777778,75.444444,97.777778,85.333333,89.888889,167.222222,175.222222,440.222222,64.666667,9.888889
std,4.465920,8.017342,1.394433,12.257651,7.655789,11.388347,18.813411,25.562559,15.984367,3.551213
min,86.000000,61.000000,96.000000,57.000000,77.000000,152.000000,134.000000,389.000000,36.000000,4.000000
25%,88.000000,70.000000,97.000000,82.000000,85.000000,158.000000,165.000000,430.000000,59.000000,9.000000
50%,92.000000,76.000000,98.000000,89.000000,89.000000,168.000000,179.000000,444.000000,62.000000,11.000000
75%,95.000000,78.000000,99.000000,95.000000,96.000000,175.000000,187.000000,454.000000,75.000000,12.000000
max,98.000000,90.000000,100.000000,96.000000,100.000000,188.000000,196.000000,477.000000,88.000000,14.000000

In [75]:
taishi_df[(taishi_df["知略"] > 90) & ((taishi_df["志"]=="所領拡大") | (taishi_df["志"]=="家名存続"))]

,武将姓,武将名,統率,武勇,知略,内政,外政,戦闘,政治,合計,...,没年,寿命,義理親,志,戦法,補佐,作戦,気質,野心,母親
129,片倉,小十郎,86,80,92,82,87,166,169,427,...,1615年,59,-,家名存続,采配,堅固,双頭の龍,仁義,5,-
466,山本,勘助,80,70,95,70,79,150,149,394,...,1561年,69,-,家名存続,挟撃巧者,参謀,啄木鳥・軍師看破,才覚,10,-
474,真田,幸隆,84,70,93,77,79,154,156,403,...,1574年,62,-,家名存続,離間,参謀,囮挑発・森林強襲,家名,7,-
966,島津,歳久,80,70,91,77,80,150,157,398,...,1592年,56,-,所領拡大,離間,参謀,釣り野伏,実利,6,-
1661,尼子,経久,92,76,98,79,85,168,164,430,...,1541年,84,-,所領拡大,神算鬼謀,復讐,偽詐術策,野心,14,-

In [78]:
df = pd.read_csv("dataset/tmdb_5000_movies.csv")
df[(df["budget"]==0) | (df["revenue"]==0)]

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
83,27000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",NaN,79698,[],en,The Lovers,The Lovers is an epic romance time travel adve...,2.418535,"[{""name"": ""Corsan"", ""id"": 7299}, {""name"": ""Bli...","[{""iso_3166_1"": ""AU"", ""name"": ""Australia""}, {""...",2015-02-13,0,109.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,Love is longer than life.,The Lovers,4.8,34
135,150000000,"[{""id"": 18, ""name"": ""Drama""}, {""id"": 27, ""name...",http://www.thewolfmanmovie.com/,7978,"[{""id"": 494, ""name"": ""father son relationship""...",en,The Wolfman,"Lawrence Talbot, an American man on a visit to...",21.214571,"[{""name"": ""Universal Pictures"", ""id"": 33}, {""n...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2010-02-11,0,102.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,When the moon is full the legend comes to life,The Wolfman,5.5,549
265,0,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 14, ""nam...",NaN,10588,"[{""id"": 977, ""name"": ""cat""}, {""id"": 1155, ""nam...",en,The Cat in the Hat,Conrad and Sally Walden are home alone with th...,18.251129,"[{""name"": ""Imagine Entertainment"", ""id"": 23}, ...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2003-11-21,0,82.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,Don't mess with the hat.,The Cat in the Hat,4.9,366
309,84000000,"[{""id"": 14, ""name"": ""Fantasy""}, {""id"": 35, ""na...",NaN,10214,"[{""id"": 1009, ""name"": ""baby""}, {""id"": 2546, ""n...",en,Son of the Mask,"Tim Avery, an aspiring cartoonist, finds himse...",17.815595,"[{""name"": ""New Line Cinema"", ""id"": 12}, {""name...","[{""iso_3166_1"": ""DE"", ""name"": ""Germany""}, {""is...",2005-02-18,0,94.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,Who's next?,Son of the Mask,3.6,338
321,0,"[{""id"": 35, ""name"": ""Comedy""}]",NaN,77953,"[{""id"": 6078, ""name"": ""politics""}, {""id"": 6083...",en,The Campaign,Two rival politicians compete to win an electi...,16.460356,"[{""name"": ""Everyman Pictures"", ""id"": 2242}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-08-09,104907746,85.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,May The Best Loser Win.,The Campaign,5.6,578
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4797,0,"[{""id"": 10769, ""name"": ""Foreign""}, {""id"": 53, ...",NaN,67238,[],en,Cavite,"Adam, a security guard, travels from Californi...",0.022173,[],[],2005-03-12,0,80.0,[],Released,NaN,Cavite,7.5,2
4799,9000,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 10749, ""...",NaN,72766,[],en,Newlyweds,A newlywed couple's honeymoon is upended by th...,0.642552,[],[],2011-12-26,0,85.0,[],Released,A newlywed couple's honeymoon is upended by th...,Newlyweds,5.9,5
4800,0,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 18, ""nam...",http://www.hallmarkchannel.com/signedsealeddel...,231617,"[{""id"": 248, ""name"": ""date""}, {""id"": 699, ""nam...",en,"Signed, Sealed, Delivered","""Signed, Sealed, Delivered"" introduces a dedic...",1.444476,"[{""name"": ""Front Street Pictures"", ""id"": 3958}...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2013-10-13,0,120.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,NaN,"Signed, Sealed, Delivered",7.0,6
4801,0,[],http://shanghaicalling.com/,126186,[],en,Shanghai Calling,When ambitious New York attorney Sam is sent t...,0.857008,[],"[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-05-03,0,98.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,A New Yorker in Shanghai,Shanghai Calling,5.7,7
4802,0,"[{""id"": 99, ""name"": ""Documentary""}]",NaN,25975,"[{""id"": 1523, ""name"": ""obsession""}, {""id"": 224...",en,My Date with Drew,Ever since the second grade when he first saw ...,1.929883,"[{""name"": ""rusty bear entertainment"", ""id"": 87...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2005-08-05,0,90.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,NaN,My Date with Drew,6.3,16

In [79]:
df[~((df["budget"]==0) | (df["revenue"]==0))]

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2015-10-26,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-07-16,1084939099,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-03-07,284139100,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4773,27000,"[{""id"": 35, ""name"": ""Comedy""}]",http://www.miramax.com/movie/clerks/,2292,"[{""id"": 1361, ""name"": ""salesclerk""}, {""id"": 30...",en,Clerks,Convenience and video store clerks Dante and R...,19.748658,"[{""name"": ""Miramax Films"", ""id"": 14}, {""name"":...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",1994-09-13,3151130,92.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,Just because they serve you doesn't mean they ...,Clerks,7.4,755
4788,12000,"[{""id"": 27, ""name"": ""Horror""}, {""id"": 35, ""nam...",NaN,692,"[{""id"": 237, ""name"": ""gay""}, {""id"": 900, ""name...",en,Pink Flamingos,Notorious Baltimore criminal and underground f...,4.553644,"[{""name"": ""Dreamland Productions"", ""id"": 407}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",1972-03-12,6000000,93.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,An exercise in poor taste.,Pink Flamingos,6.2,110
4792,20000,"[{""id"": 80, ""name"": ""Crime""}, {""id"": 27, ""name...",NaN,36095,"[{""id"": 233, ""name"": ""japan""}, {""id"": 549, ""na...",ja,キュア,A wave of gruesome murders is sweeping Tokyo. ...,0.212443,"[{""name"": ""Daiei Studios"", ""id"": 881}]","[{""iso_3166_1"": ""JP"", ""name"": ""Japan""}]",1997-11-06,99000,111.0,"[{""iso_639_1"": ""ja"", ""name"": ""\u65e5\u672c\u8a...",Released,Madness. Terror. Murder.,Cure,7.4,63
4796,7000,"[{""id"": 878, ""name"": ""Science Fiction""}, {""id""...",http://www.primermovie.com,14337,"[{""id"": 1448, ""name"": ""distrust""}, {""id"": 2101...",en,Primer,Friends/fledgling entrepreneurs invent a devic...,23.307949,"[{""name"": ""Thinkfilm"", ""id"": 446}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2004-10-08,424760,77.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,What happens if it actually works?,Primer,6.9,658
4798,220000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",NaN,9367,"[{""id"": 5616, ""name"": ""united states\u2013mexi...",es,El Mariachi,El Mariachi just wants to play his guitar and ...,14.269792,"[{""name"": ""Columbia Pictures"", ""id"": 5}]","[{""iso_3166_1"": ""MX"", ""name"": ""Mexico""}, {""iso...",1992-09-04,2040920,81.0,"[{""iso_639_1"": ""es"", ""name"": ""Espa\u00f1ol""}]",Released,"He didn't come looking for trouble, but troubl...",El Mariachi,6.6,238

In [85]:
df = pd.read_csv("dataset/tmdb_5000_movies.csv")
df = df[df["original_language"]=="ja"]

In [89]:
df.reset_index(drop=True, inplace=True)

In [97]:
df = pd.read_csv("dataset/tmdb_5000_movies.csv")
df = df.set_index("id").head(3)
df

,budget,genres,homepage,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
id,,,,,,,,,,,,,,,,,,,
19995,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
285,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500
206647,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2015-10-26,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466

In [98]:
df.loc[19995]

budget                                                          237000000
genres                  [{"id": 28, "name": "Action"}, {"id": 12, "nam...
homepage                                      http://www.avatarmovie.com/
keywords                [{"id": 1463, "name": "culture clash"}, {"id":...
original_language                                                      en
original_title                                                     Avatar
overview                In the 22nd century, a paraplegic Marine is di...
popularity                                                        150.438
production_companies    [{"name": "Ingenious Film Partners", "id": 289...
production_countries    [{"iso_3166_1": "US", "name": "United States o...
release_date                                                   2009-12-10
revenue                                                        2787965087
runtime                                                               162
spoken_languages        [{"iso_639_1": "en", "name": "English"}, {"iso...
status                                                           Released
tagline                                       Enter the World of Pandora.
title                                                              Avatar
vote_average                                                          7.2
vote_count                                                          11800
Name: 19995, dtype: object

In [109]:
df = pd.read_csv("dataset/tmdb_5000_movies.csv")
a = df.iloc[-1]["homepage"]

In [110]:
np.isnan(a)

True

In [111]:
df.dropna()

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2015-10-26,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-07-16,1084939099,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-03-07,284139100,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4773,27000,"[{""id"": 35, ""name"": ""Comedy""}]",http://www.miramax.com/movie/clerks/,2292,"[{""id"": 1361, ""name"": ""salesclerk""}, {""id"": 30...",en,Clerks,Convenience and video store clerks Dante and R...,19.748658,"[{""name"": ""Miramax Films"", ""id"": 14}, {""name"":...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",1994-09-13,3151130,92.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,Just because they serve you doesn't mean they ...,Clerks,7.4,755
4781,22000,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 10749, ""...",https://www.facebook.com/DrySpellMovie,255266,"[{""id"": 13043, ""name"": ""dating""}, {""id"": 15160...",en,Dry Spell,Sasha tries to get her soon-to-be ex husband K...,0.048948,[],"[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2013-02-14,0,90.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,Getting divorced does funny things to a girl,Dry Spell,6.0,1
4791,13,"[{""id"": 27, ""name"": ""Horror""}]",http://tincanmanthemovie.com/,157185,"[{""id"": 14903, ""name"": ""home invasion""}]",en,Tin Can Man,Recently dumped by his girlfirend for another ...,0.332679,"[{""name"": ""Park Films"", ""id"": 21871}, {""name"":...","[{""iso_3166_1"": ""IE"", ""name"": ""Ireland""}]",2007-01-01,0,84.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,Everything You've Heard is True,Tin Can Man,2.0,1
4796,7000,"[{""id"": 878, ""name"": ""Science Fiction""}, {""id""...",http://www.primermovie.com,14337,"[{""id"": 1448, ""name"": ""distrust""}, {""id"": 2101...",en,Primer,Friends/fledgling entrepreneurs invent a devic...,23.307949,"[{""name"": ""Thinkfilm"", ""id"": 446}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2004-10-08,424760,77.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,What happens if it actually works?,Primer,6.9,658
4801,0,[],http://shanghaicalling.com/,126186,[],en,Shanghai Calling,When ambitious New York attorney Sam is sent t...,0.857008,[],"[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-05-03,0,98.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,A New Yorker in Shanghai,Shanghai Calling,5.7,7

In [104]:
taishi_df.columns

Index(['武将姓', '武将名', '統率', '武勇', '知略', '内政', '外政', '戦闘', '政治', '合計', '父親',
       '姓読み', '名読み', '誕生年', '登場年', '没年', '寿命', '義理親', '志', '戦法', '補佐', '作戦',
       '気質', '野心', '母親'],
      dtype='object')

In [105]:
taishi_df[taishi_df["武将姓"]=="織田"]

,武将姓,武将名,統率,武勇,知略,内政,外政,戦闘,政治,合計,...,没年,寿命,義理親,志,戦法,補佐,作戦,気質,野心,母親
335,織田,信長,99,83,94,100,86,182,186,462,...,1582年,49,-,うつけの天下,六天魔王,名将,神出鬼・没鉄甲船,大志,12,-
336,織田,信忠,81,74,72,70,67,155,137,364,...,1582年,26,-,天下統一,挟撃巧者,疾走,神出鬼没,勲功,6,-
337,織田,秀信,38,44,32,49,36,82,85,199,...,1605年,26,-,家名存続,臨戦,万全,囮挑発,家名,5,-
338,織田,信雄,40,37,30,56,37,77,93,200,...,1630年,73,-,家督継承,臨戦,万全,囮挑発,勲功,11,-
339,織田,信孝,55,62,35,49,38,117,87,239,...,1583年,26,-,家督継承,用心,斥候,神出鬼没,家名,10,-
340,織田,信勝,37,44,65,58,63,81,121,267,...,1557年,22,-,家督継承,気勢崩し,堅固,囮挑発,家名,10,-
341,織田,信澄,59,65,47,50,45,124,95,266,...,1582年,28,-,天下統一,挟撃巧者,疾走,神出鬼没,家名,5,-
342,織田,信包,56,53,38,55,44,109,99,246,...,1614年,72,-,所領拡大,用心,斥候,神出鬼没,家名,6,-
343,織田,長益,32,28,39,64,50,60,114,213,...,1621年,75,-,家名存続,お調子者,復帰,本陣斬込,芸道,6,-
344,織田,信光,52,64,54,46,47,116,93,263,...,1555年,40,-,所領拡大,突撃,速攻,全軍突撃,家名,8,-
1146,織田,信友,67,50,52,55,53,117,108,277,...,1555年,40,-,家名存続,用心,斥候,神出鬼没,家名,8,-
1147,織田,信清,45,55,59,69,65,100,134,293,...,1594年,58,-,所領拡大,気勢崩し,堅固,囮挑発,家名,8,-
1440,織田,信安,34,33,52,42,44,67,86,205,...,1591年,90,-,家名存続,足止め,回避,神出鬼没,勲功,10,-
1441,織田,達勝,53,52,41,51,43,105,94,240,...,1550年,65,-,所領拡大,気勢崩し,堅固,囮挑発,勲功,11,-
1442,織田,信定,77,56,73,88,78,133,166,372,...,1538年,53,-,所領拡大,采配,伏兵,神出鬼没,勲功,13,-
1443,織田,信秀,87,70,88,91,83,157,174,419,...,1551年,41,-,天下統一,采配,参謀,本陣斬込,実利,14,土田御前
1444,織田,信広,58,58,53,40,43,116,83,252,...,1574年,48,-,所領拡大,急襲,復帰,囮挑発,勲功,9,-
1445,織田,秀雄,49,29,39,47,40,78,87,204,...,1610年,28,-,家名存続,臨戦,万全,囮挑発,勲功,8,-
1446,織田,頼長,27,39,55,45,47,66,92,213,...,1620年,39,-,家名存続,足止め,回避,神出鬼没,勲功,7,-
1955,織田,昌澄,34,54,43,42,40,88,82,213,...,1641年,63,-,領地保全,突撃,速攻,全軍突撃,実利,8,-

In [119]:
df[np.isnan(df["runtime"])]

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
2656,15000000,"[{""id"": 18, ""name"": ""Drama""}]",NaN,370980,"[{""id"": 717, ""name"": ""pope""}, {""id"": 5565, ""na...",it,Chiamatemi Francesco - Il Papa della gente,NaN,0.738646,"[{""name"": ""Taodue Film"", ""id"": 45724}]","[{""iso_3166_1"": ""IT"", ""name"": ""Italy""}]",2015-12-03,0,NaN,"[{""iso_639_1"": ""es"", ""name"": ""Espa\u00f1ol""}]",Released,NaN,Chiamatemi Francesco - Il Papa della gente,7.3,12
4140,2,"[{""id"": 99, ""name"": ""Documentary""}]",NaN,459488,"[{""id"": 6027, ""name"": ""music""}, {""id"": 225822,...",en,"To Be Frank, Sinatra at 100",NaN,0.050625,"[{""name"": ""Eyeline Entertainment"", ""id"": 60343}]","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""}]",2015-12-12,0,NaN,[],Released,NaN,"To Be Frank, Sinatra at 100",0.0,0

In [121]:
len(df.dropna(subset=["runtime"]))

4801

In [122]:
df = df.dropna()

In [123]:
len(df)

1493

In [124]:
taishi_df["寿命"].mean()

57.089244851258584

In [ ]:
df = pd.read_csv("dataset/tmdb_5000_movies.csv")

In [125]:
df["runtime"] = df["runtime"].fillna(df["runtime"].mean())

In [127]:
df[np.isnan(df["runtime"])]

Empty DataFrame
Columns: [budget, genres, homepage, id, keywords, original_language, original_title, overview, popularity, production_companies, production_countries, release_date, revenue, runtime, spoken_languages, status, tagline, title, vote_average, vote_count]
Index: []

In [128]:
df = pd.read_csv("dataset/tmdb_5000_movies.csv")
df["homepage"].isna()

0       False
1       False
2       False
3       False
4       False
        ...
4798     True
4799     True
4800    False
4801    False
4802     True
Name: homepage, Length: 4803, dtype: bool

In [130]:
df[df["homepage"].isna()]

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
15,225000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 10751...",NaN,2454,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,The Chronicles of Narnia: Prince Caspian,One year after their incredible adventures in ...,53.978602,"[{""name"": ""Walt Disney"", ""id"": 5888}, {""name"":...","[{""iso_3166_1"": ""CZ"", ""name"": ""Czech Republic""...",2008-05-15,419651413,150.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,Hope has a new face.,The Chronicles of Narnia: Prince Caspian,6.3,1630
24,207000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 18, ""...",NaN,254,"[{""id"": 774, ""name"": ""film business""}, {""id"": ...",en,King Kong,"In 1933 New York, an overly ambitious movie pr...",61.226010,"[{""name"": ""WingNut Films"", ""id"": 11}, {""name"":...","[{""iso_3166_1"": ""NZ"", ""name"": ""New Zealand""}, ...",2005-12-14,550000000,187.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The eighth wonder of the world.,King Kong,6.6,2337
27,209000000,"[{""id"": 53, ""name"": ""Thriller""}, {""id"": 28, ""n...",NaN,44833,"[{""id"": 1721, ""name"": ""fight""}, {""id"": 4410, ""...",en,Battleship,"When mankind beams a radio signal into space, ...",64.928382,"[{""name"": ""Universal Pictures"", ""id"": 33}, {""n...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-04-11,303025485,131.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,The Battle for Earth Begins at Sea,Battleship,5.5,2114
33,210000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 28, ""...",NaN,36668,"[{""id"": 1852, ""name"": ""mutant""}, {""id"": 8828, ...",en,X-Men: The Last Stand,"When a cure is found to treat mutations, lines...",3.857526,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""CA"", ""name"": ""Canada""}, {""iso...",2006-05-24,459359555,104.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,Take a Stand,X-Men: The Last Stand,6.3,3525
34,200000000,"[{""id"": 16, ""name"": ""Animation""}, {""id"": 10751...",NaN,62211,"[{""id"": 1299, ""name"": ""monster""}, {""id"": 5984,...",en,Monsters University,A look at the relationship between Mike and Su...,89.186492,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2013-06-20,743559607,104.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,School never looked this scary.,Monsters University,7.0,3528
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4795,0,"[{""id"": 18, ""name"": ""Drama""}]",NaN,124606,"[{""id"": 10726, ""name"": ""gang""}, {""id"": 33928, ...",en,Bang,A young woman in L.A. is having a bad day: she...,0.918116,"[{""name"": ""Asylum Films"", ""id"": 10571}, {""name...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",1995-09-09,0,98.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,Sometimes you've got to break the rules,Bang,6.0,1
4797,0,"[{""id"": 10769, ""name"": ""Foreign""}, {""id"": 53, ...",NaN,67238,[],en,Cavite,"Adam, a security guard, travels from Californi...",0.022173,[],[],2005-03-12,0,80.0,[],Released,NaN,Cavite,7.5,2
4798,220000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",NaN,9367,"[{""id"": 5616, ""name"": ""united states\u2013mexi...",es,El Mariachi,El Mariachi just wants to play his guitar and ...,14.269792,"[{""name"": ""Columbia Pictures"", ""id"": 5}]","[{""iso_3166_1"": ""MX"", ""name"": ""Mexico""}, {""iso...",1992-09-04,2040920,81.0,"[{""iso_639_1"": ""es"", ""name"": ""Espa\u00f1ol""}]",Released,"He didn't come looking for trouble, but troubl...",El Mariachi,6.6,238
4799,9000,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 10749, ""...",NaN,72766,[],en,Newlyweds,A newlywed couple's honeymoon is upended by th...,0.642552,[],[],2011-12-26,0,85.0,[],Released,A newlywed couple's honeymoon is upended by th...,Newlyweds,5.9,5
4802,0,"[{""id"": 99, ""name"": ""Documentary""}]",NaN,25975,"[{""id"": 1523, ""name"": ""obsession""}, {""id"": 224...",en,My Date with Drew,Ever since the second grade when he first saw ...,1.929883,"[{""name"": ""rusty bear entertainment"", ""id"": 87...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2005-08-05,0,90.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,NaN,My Date with Drew,6.3,16

In [131]:
df["homepage_nan"] = df["homepage"].isna()

In [132]:
df

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,homepage_nan
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,False
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...",...,2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500,False
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...",...,2015-10-26,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466,False
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...",...,2012-07-16,1084939099,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106,False
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]",...,2012-03-07,284139100,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4798,220000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",NaN,9367,"[{""id"": 5616, ""name"": ""united states\u2013mexi...",es,El Mariachi,El Mariachi just wants to play his guitar and ...,14.269792,"[{""name"": ""Columbia Pictures"", ""id"": 5}]",...,1992-09-04,2040920,81.0,"[{""iso_639_1"": ""es"", ""name"": ""Espa\u00f1ol""}]",Released,"He didn't come looking for trouble, but troubl...",El Mariachi,6.6,238,True
4799,9000,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 10749, ""...",NaN,72766,[],en,Newlyweds,A newlywed couple's honeymoon is upended by th...,0.642552,[],...,2011-12-26,0,85.0,[],Released,A newlywed couple's honeymoon is upended by th...,Newlyweds,5.9,5,True
4800,0,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 18, ""nam...",http://www.hallmarkchannel.com/signedsealeddel...,231617,"[{""id"": 248, ""name"": ""date""}, {""id"": 699, ""nam...",en,"Signed, Sealed, Delivered","""Signed, Sealed, Delivered"" introduces a dedic...",1.444476,"[{""name"": ""Front Street Pictures"", ""id"": 3958}...",...,2013-10-13,0,120.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,NaN,"Signed, Sealed, Delivered",7.0,6,False
4801,0,[],http://shanghaicalling.com/,126186,[],en,Shanghai Calling,When ambitious New York attorney Sam is sent t...,0.857008,[],...,2012-05-03,0,98.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,A New Yorker in Shanghai,Shanghai Calling,5.7,7,False
4802,0,"[{""id"": 99, ""name"": ""Documentary""}]",NaN,25975,"[{""id"": 1523, ""name"": ""obsession""}, {""id"": 224...",en,My Date with Drew,Ever since the second grade when he first saw ...,1.929883,"[{""name"": ""rusty bear entertainment"", ""id"": 87...",...,2005-08-05,0,90.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,NaN,My Date with Drew,6.3,16,True

In [133]:
df = pd.read_csv("dataset/tmdb_5000_movies.csv")
df.head(1)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800

In [135]:
taishi_df.groupby("武将姓").mean().loc[["織田","武田","上杉"]]

,統率,武勇,知略,内政,外政,戦闘,政治,合計,寿命,野心
武将姓,,,,,,,,,,
織田,54.000000,52.500000,53.050000,58.350000,52.450000,106.500000,110.800000,270.350000,48.100000,8.750000
武田,55.846154,55.461538,53.153846,55.153846,51.846154,111.307692,107.000000,271.461538,44.230769,7.307692
上杉,62.000000,45.500000,56.666667,64.833333,60.500000,107.500000,125.333333,289.500000,45.000000,10.333333

In [137]:
df.groupby("original_language").mean().loc["ja"]

budget          1.429361e+07
id              5.389425e+04
popularity      2.566379e+01
revenue         6.602892e+07
runtime         1.225000e+02
vote_average    7.050000e+00
vote_count      7.157500e+02
Name: ja, dtype: float64

In [141]:
df[(df["budget"] != 0)].groupby("original_language").mean().loc["ja"]

budget          1.524651e+07
id              5.656127e+04
popularity      2.717932e+01
revenue         7.043084e+07
runtime         1.217333e+02
vote_average    7.020000e+00
vote_count      7.621333e+02
Name: ja, dtype: float64

In [144]:
df[df["budget"]==0].groupby("original_language").count()["budget"]

original_language
ar      2
cn      5
cs      2
da      1
de     11
el      1
en    921
es      8
fa      2
fr     31
he      2
hi     10
hu      1
it      6
ja      1
ko      4
ky      1
nl      1
pt      6
ro      1
ru      3
sl      1
sv      4
ta      2
th      1
zh      9
Name: budget, dtype: int64

In [148]:
df.groupby("original_language").describe()["revenue"].head(1)

,count,mean,std,min,25%,50%,75%,max
original_language,,,,,,,,
af,1.0,9879971.0,NaN,9879971.0,9879971.0,9879971.0,9879971.0,9879971.0

In [165]:
df.iloc[df.groupby("original_language")["revenue"].idxmax()]

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
3936,3000000,"[{""id"": 80, ""name"": ""Crime""}, {""id"": 18, ""name...",http://www.tsotsimovie.com/,868,"[{""id"": 100, ""name"": ""slum""}, {""id"": 1009, ""na...",af,Tsotsi,The South African multi-award winning film abo...,2.504169,"[{""name"": ""Movieworld Productions"", ""id"": 563}...","[{""iso_3166_1"": ""ZA"", ""name"": ""South Africa""}]",2005-08-18,9879971,94.0,"[{""iso_639_1"": ""af"", ""name"": ""Afrikaans""}, {""i...",Released,In this world... Redemption comes just once.,Tsotsi,6.9,94
4164,0,"[{""id"": 99, ""name"": ""Documentary""}, {""id"": 18,...",http://www.thesquarefilm.com/,159037,"[{""id"": 187056, ""name"": ""woman director""}]",ar,The Square,"The Square, a new film by Jehane Noujaim (Cont...",4.892203,"[{""name"": ""Roast Beef Productions"", ""id"": 7266...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2013-06-07,0,88.0,"[{""iso_639_1"": ""ar"", ""name"": ""\u0627\u0644\u06...",Released,What does it mean to risk your life for your i...,The Square,7.8,55
1357,36000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 18, ""nam...",NaN,365222,"[{""id"": 5565, ""name"": ""biography""}]",cn,葉問3,When a band of brutal gangsters led by a crook...,19.167377,"[{""name"": ""Mandarin Films Distribution Co."", ""...","[{""iso_3166_1"": ""HK"", ""name"": ""Hong Kong""}]",2015-12-19,156844753,105.0,"[{""iso_639_1"": ""cn"", ""name"": ""\u5e7f\u5dde\u8b...",Released,NaN,Ip Man 3,6.5,379
2906,0,"[{""id"": 18, ""name"": ""Drama""}, {""id"": 10749, ""n...",https://www.facebook.com/eastsidestorymovie,357837,"[{""id"": 246, ""name"": ""dancing""}, {""id"": 271, ""...",cs,Dancin' It's On,"This coming of age Dance Film, in the spirit o...",0.186234,[],"[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2015-10-16,0,89.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Post Production,Dancin' Like You've Never Seen Before,Dancin' It's On,4.3,2
4586,35000000,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 10749, ""...",NaN,9029,"[{""id"": 585, ""name"": ""casino""}, {""id"": 612, ""n...",da,What Happens in Vegas,"During a wild vacation in Las Vegas, career wo...",38.100488,"[{""name"": ""Twentieth Century Fox Film Corporat...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2008-05-07,170000000,99.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Get Lucky,What Happens in Vegas,5.8,923
2724,18339750,"[{""id"": 18, ""name"": ""Drama""}, {""id"": 36, ""name...",http://www.downfallthefilm.com/,613,"[{""id"": 220, ""name"": ""berlin""}, {""id"": 351, ""n...",de,Der Untergang,"In April of 1945, Germany stands at the brink ...",32.445895,"[{""name"": ""Degeto Film"", ""id"": 986}, {""name"": ...","[{""iso_3166_1"": ""AT"", ""name"": ""Austria""}, {""is...",2004-09-08,92180910,156.0,"[{""iso_639_1"": ""hu"", ""name"": ""Magyar""}, {""iso_...",Released,"April 1945, a nation awaits its...Downfall",Downfall,7.7,1037
4605,0,"[{""id"": 18, ""name"": ""Drama""}]",http://www.dogtooth.gr/,38810,"[{""id"": 255, ""name"": ""male nudity""}, {""id"": 29...",el,Κυνόδοντας,Three teenagers are confined to an isolated co...,28.858238,"[{""name"": ""Greek Film Center"", ""id"": 7254}, {""...","[{""iso_3166_1"": ""GR"", ""name"": ""Greece""}]",2009-06-01,110197,94.0,"[{""iso_639_1"": ""el"", ""name"": ""\u03b5\u03bb\u03...",Released,The cat is the most feared animal there is!,Dogtooth,6.9,332
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
3562,5500000,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 18, ""nam...",NaN,211954,"[{""id"": 1338, ""name"": ""bachelor""}, {""id"": 1554...",es,No se Aceptan Devoluciones,"Valentin is Acapulco's resident playboy, until...",9.597290,"[{""name"": ""Filmax"", ""id"": 3631}, {""name"": ""Sig...","[{""iso_3166_1"": ""MX"", ""name"": ""Mexico""}]",2013-07-20,99067206,115.0,"[{""iso_639_1"": ""es"", ""name"": ""Espa\u00f1ol""}, ...",Released,Life doesn't care if you're ready.,Instructions Not Included,7.5,205
4695,180000,"[{""id"": 18, ""name"": ""Drama""}, {""id"": 35, ""name...",http://www.miramax.com/movie/children-of-heaven/,21334,"[{""id"": 1155, ""name"": ""brother sister relation...",fa,بچه‌های آسمان,Zohre's shoes are gone; her older brother Ali ...,7.072118,"[{""name"": ""The Institute for the Intellectual ...","[{""iso_3166_1"": ""IR"", ""name"": ""Iran""}]",1997-08-01,900000,89.0,"[{""iso_639_1"": ""fa"", ""name"": ""\u0641\u0627\u06...",Released,A Little Secret...Their Biggest Adventure!,Children of Heaven,7.8,112
1260,10000000,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 10749, ""...",http://www.die-fabelhafte-welt-der-amelie.de,194,"[{""id"": 90, ""name"": ""paris""}, {""id"": 128, ""nam...",fr,Le fabuleux destin d'Amélie Poulain,"At a tiny Parisian café, the adorable yet pain...",73.720244,"[{""name"": ""France 3 Cin\u00e9ma"", ""id"": 591}, ...","[{""iso_3166_1"": ""FR"", ""name"": ""France""}, {""iso...",2001-04-25,173921954,122.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,One person can change your life forever.,Amélie,7.8,3310
4104,2000000,"[{""id"": 18, ""name"": ""Drama""}, {""id"": 16, ""name...",http://waltzwithbashir.com,8885,"[{""id"": 536, ""name"": ""israel""}, {""id"": 537, ""n...",he,Vals Im Bashir,"Much awarded animated documentary, in which di...",14.082510,"[{""name"": ""Les Films d'Ici"", ""id"": 1848}, {""na...","[{""iso_3166_1"": ""IL"", ""name"": ""Israel""}, {""iso...",2008-06-25,11125849,90.0,"[{""iso_639_1"": ""he"", ""name"": ""\u05e2\u05b4\u05...",Released,NaN,Waltz with Bashir,7.8,291
3228,7700000,"[{""id"": 10749, ""name"": ""Romance""}]",http://www.facebook.com/YehJawaaniHaiDeewani,185008,[],hi,Yeh Jawaani Hai Deewani,Yeh Jawaani Hai Deewani features two polar opp...,3.353176,"[{""name"": ""Dharma Productions"", ""id"": 19146}]","[{""iso_3166_1"": ""IN"", ""name"": ""India""}]",2013-05-31,46000000,159.0,"[{""iso_639_1"": ""hi"", ""name"": ""\u0939\u093f\u09...",Released,NaN,Yeh Jawaani Hai Deewani,7.2,79
2894,0,"[{""id"": 10752, ""name"": ""War""}, {""id"": 18, ""nam...",NaN,41508,"[{""id"": 810, ""name"": ""budapest""}, {""id"": 1244,...",hu,Sorstalanság,An Hungarian youth comes of age at Buchenwald ...,1.906807,[],"[{""iso_3166_1"": ""HU"", ""name"": ""Hungary""}, {""is...",2005-02-10,0,140.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,You can close your eyes. You can turn away. Bu...,Fateless,6.5,28
4326,1100000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 53, ""nam...",http://www.sonyclassics.com/theraid/,94329,"[{""id"": 9730, ""name"": ""crime boss""}, {""id"": 14...",id,Serbuan maut,Deep in the heart of Jakarta's slums lies an i...,40.285095,"[{""name"": ""Celluloid Dreams"", ""id"": 860}, {""na...","[{""iso_3166_1"": ""ID"", ""name"": ""Indonesia""}, {""...",2011-09-08,4105187,101.0,"[{""iso_639_1"": ""id"", ""name"": ""Bahasa indonesia""}]",Released,"1 Ruthless Crime Lord, 20 Elite Cops, 30 Floor...",The Raid,7.3,1055
3131,10,"[{""id"": 18, ""name"": ""Drama""}, {""id"": 10749, ""n...",http://hrosss.is/the-film/,217708,"[{""id"": 2673, ""name"": ""horse""}, {""id"": 3373, ""...",is,Hross í oss,A country romance about the human streak in th...,1.617943,"[{""name"": ""Filmhuset Gruppen"", ""id"": 68384}, {...","[{""iso_3166_1"": ""NO"", ""name"": ""Norway""}, {""iso...",2013-08-30,11,85.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,NaN,Of Horses and Men,6.9,26
4672,200000,"[{""id"": 37, ""name"": ""Western""}]",NaN,391,"[{""id"": 2987, ""name"": ""gang war""}, {""id"": 4942...",it,Per un pugno di dollari,The Man With No Name enters the Mexican villag...,38.771062,"[{""name"": ""United Artists"", ""id"": 60}, {""name""...","[{""iso_3166_1"": ""IT"", ""name"": ""Italy""}, {""iso_...",1964-09-12,14500000,99.0,"[{""iso_639_1"": ""it"", ""name"": ""Italiano""}, {""is...",Released,"In his own way he is perhaps, the most dangero...",A Fistful of Dollars,7.6,883
2294,15000000,"[{""id"": 14, ""name"": ""Fantasy""}, {""id"": 12, ""na...",http://movies.disney.com/spirited-away,129,"[{""id"": 616, ""name"": ""witch""}, {""id"": 970, ""na...",ja,千と千尋の神隠し,A ten year old girl who wanders away from her ...,118.968562,"[{""name"": ""Studio Ghibli"", ""id"": 10342}]","[{""iso_3166_1"": ""JP"", ""name"": ""Japan""}]",2001-07-20,274925095,125.0,"[{""iso_639_1"": ""ja"", ""name"": ""\u65e5\u672c\u8a...",Released,The tunnel led Chihiro to a mysterious town...,Spirited Away,8.3,3840
2877,11000000,"[{""id"": 27, ""name"": ""Horror""}, {""id"": 18, ""nam...",http://www.hostmovie.com/,1255,"[{""id"": 1261, ""name"": ""river""}, {""id"": 1880, ""...",ko,괴물,Gang-du is a dim-witted man working at his fat...,27.655270,"[{""name"": ""Cineclick Asia"", ""id"": 685}, {""name...","[{""iso_3166_1"": ""KR"", ""name"": ""South Korea""}]",2006-07-27,88489643,119.0,"[{""iso_639_1"": ""ko"", ""name"": ""\ud55c\uad6d\uc5...",Released,Monsters are real.,The Host,6.7,537
4275,0,"[{""id"": 18, ""name"": ""Drama""}, {""id"": 28, ""name...",NaN,295914,"[{""id"": 5565, ""name"": ""biography""}]",ky,Kurmanjan Datka. Queen of the Mountains,At a time when most females in Asia possess li...,0.077873,"[{""name"": ""Kirghizfilm"", ""id"": 40456}, {""name""...","[{""iso_3166_1"": ""KG"", ""name"": ""Kyrgyz Republic""}]",2014-08-22,0,135.0,"[{""iso_639_1"": ""ky"", ""name"": ""??????""}]",Released,NaN,Queen of the Mountains,0.0,0
3845,3500000,"[{""id"": 14, ""name"": ""Fantasy""}, {""id"": 27, ""na...",http://trolljegeren.no/,46146,"[{""id"": 414, ""name"": ""hunter""}, {""id"": 1262, ""...",nb,Trolljegeren,A group of students investigates a series of m...,12.982319,"[{""name"": ""Filmkameratene A/S"", ""id"": 1003}, {...","[{""iso_3166_1"": ""NO"", ""name"": ""Norway""}]",2010-10-29,4159678,103.0,"[{""iso_639_1"": ""no"", ""name"": ""Norsk""}]",Released,You believe it when you see it!,Troll Hunter,6.7,583
2052,21000000,"[{""id"": 18, ""name"": ""Drama""}, {""id"": 53, ""name...",NaN,9075,"[{""id"": 930, ""name"": ""in love with enemy""}, {""...",nl,Zwartboek,In the Nazi-occupied Netherlands during World ...,13.906611,"[{""name"": ""CoBo Fund"", ""id"": 234}, {""name"": ""S...","[{""iso_3166_1"": ""NL"", ""name"": ""Netherlands""}, ...",2006-09-01,26193068,145.0,"[{""iso_639_1"": ""nl"", ""name"": ""Nederlands""}, {""...",Released,"To fight the enemy, she must become one of them.",Black Book,7.2,277
4464,800000,"[{""id"": 27, ""name"": ""Horror""}, {""id"": 35, ""nam...",http://www.deadsnow.com,14451,"[{""id"": 1191, ""name"": ""norway""}, {""id"": 10327,...",no,Død snø,Eight medical students on a ski trip to Norway...,11.205726,"[{""name"": ""Euforia Film"", ""id"": 3553}, {""name""...","[{""iso_3166_1"": ""NO"", ""name"": ""Norway""}]",2009-01-09,1984662,91.0,"[{""iso_639_1"": ""no"", ""name"": ""Norsk""}]",Released,"Eins, Zwei, Die!",Dead Snow,6.1,311
3999,2159280,"[{""id"": 18, ""name"": ""Drama""}]",NaN,209274,"[{""id"": 745, ""name"": ""nun""}, {""id"": 1960, ""nam...",pl,Ida,"Poland, 1962. Anna is a novice, an orphan brou...",13.265432,"[{""name"": ""Danish Film Institute"", ""id"": 125},...","[{""iso_3166_1"": ""DK"", ""name"": ""Denmark""}, {""is...",2013-10-25,10700000,80.0,"[{""iso_639_1"": ""pl"", ""name"": ""Polski""}]",Released,NaN,Ida,7.1,260
4523,46000,"[{""id"": 18, ""name"": ""Drama""}]",NaN,14757,"[{""id"": 10183, ""name"": ""independent film""}]",ps,Osama,Teenage girl Osama cuts her hair and dresses l...,1.447734,"[{""name"": ""Hubert Bals Fund"", ""id"": 13413}, {""...","[{""iso_3166_1"": ""AF"", ""name"": ""Afghanistan""}, ...",2003-05-20,0,83.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,To save her family a girl must become a boy,Osama,6.3,32
3866,3300000,"[{""id"": 18, ""name"": ""Drama""}, {""id"": 80, ""name...",http://cidadededeus.globo.com/,598,"[{""id"": 255, ""name"": ""male nudity""}, {""id"": 54...",pt,Cidade de Deus,Cidade de Deus is a shantytown that started du...,44.356711,"[{""name"": ""O2 Filmes"", ""id"": 345}, {""name"": ""V...","[{""iso_3166_1"": ""BR"", ""name"": ""Brazil""}, {""iso...",2002-02-05,30641770,130.0,"[{""iso_639_1"": ""pt"", ""name"": ""Portugu\u00eas""}]",Released,"If you run you're dead... if you stay, you're ...",City of God,8.1,1814
4434,852510,"[{""id"": 18, ""name"": ""Drama""}]",NaN,2009,"[{""id"": 570, ""name"": ""rape""}, {""id"": 922, ""nam...",ro,"4 luni, 3 săptămîni și 2 zile","Gabita is pregnant, abortion is strictly forbi...",9.270133,"[{""name"": ""Saga Film"", ""id"": 859}, {""name"": ""M...","[{""iso_3166_1"": ""BE"", ""name"": ""Belgium""}, {""is...",2007-08-24,1185783,113.0,"[{""iso_639_1"": ""ro"", ""name"": ""Rom\u00e2n\u0103""}]",Released,At what moment do we begin to live?,"4 Months, 3 Weeks and 2 Days",7.3,156
3733,4200000,"[{""id"": 14, ""name"": ""Fantasy""}, {""id"": 28, ""na...",NaN,3040,"[{""id"": 616, ""name"": ""witch""}, {""id"": 1552, ""n...",ru,Ночной дозор,"Among normal humans live the ""Others"" possessi...",12.540624,"[{""name"": ""Bazelevs Production"", ""id"": 1038}, ...","[{""iso_3166_1"": ""RU"", ""name"": ""Russia""}]",2004-06-27,32000000,114.0,"[{""iso_639_1"": ""de"", ""name"": ""Deutsch""}, {""iso...",Released,All That Stands Between Light And Darkness Is ...,Night Watch,6.3,210
4510,0,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 18, ""nam...",NaN,385636,"[{""id"": 445, ""name"": ""pornography""}, {""id"": 57...",sl,Julija in Alfa Romeo,"Tilen (18), an attractive high school student,...",0.061248,"[{""name"": ""Perfo Production"", ""id"": 34679}, {""...","[{""iso_3166_1"": ""SI"", ""name"": ""Slovenia""}]",2015-09-17,0,83.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,NaN,Juliet and Alfa Romeo,6.0,1
2474,25000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",NaN,13491,"[{""id"": 156321, ""name"": ""tv movie""}]",sv,Arn: Tempelriddaren,"Arn, the son of a high-ranking Swedish noblema...",6.091033,"[{""name"": ""Danmarks Radio (DR)"", ""id"": 119}, {...","[{""iso_3166_1"": ""SE"", ""name"": ""Sweden""}]",2007-12-17,0,139.0,"[{""iso_639_1"": ""ar"", ""name"": ""\u0627\u0644\u06...",Released,A Knight in the Holy Land. A Woman in the Froz...,Arn: The Knight Templar,6.4,76
2271,0,"[{""id"": 18, ""name"": ""Drama""}, {""id"": 36, ""name...",NaN,280871,"[{""id"": 2303, ""name"": ""mathematician""}, {""id"":...",ta,ராமானுஜன்,A prodigious Indian mathematician has to overc...,0.416179,"[{""name"": ""Camphor Cinema"", ""id"": 82667}]","[{""iso_3166_1"": ""IN"", ""name"": ""India""}]",2014-07-11,0,170.0,"[{""iso_639_1"": ""ta"", ""name"": ""\u0ba4\u0bae\u0b...",Released,NaN,Ramanujan,5.0,3
1290,40000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://baahubali.com/,256040,"[{""id"": 4152, ""name"": ""kingdom""}, {""id"": 6091,...",te,Baahubali: The Beginning,The young Shivudu is left as a foundling in a ...,16.254032,"[{""name"": ""Arka Media Works"", ""id"": 57946}]","[{""iso_3166_1"": ""IN"", ""name"": ""India""}]",2015-07-10,100000000,159.0,"[{""iso_639_1"": ""ml"", ""name"": """"}, {""iso_639_1""...",Released,NaN,Baahubali: The Beginning,7.5,135
3518,6000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",NaN,8982,"[{""id"": 188, ""name"": ""buddhism""}, {""id"": 2857,...",th,ต้มยำกุ้ง,"In Bangkok, the young Kham was raised by his f...",11.818320,"[{""name"": ""The Weinstein Company"", ""id"": 308},...","[{""iso_3166_1"": ""TH"", ""name"": ""Thailand""}, {""i...",2005-08-11,27165581,108.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Vengeance Knows No Mercy,The Protector,6.8,167
3231,10000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 18, ""...",NaN,11818,"[{""id"": 2051, ""name"": ""intelligence""}, {""id"": ...",tr,Kurtlar vadisi - Irak,The movie opens with a fictionalized depiction...,1.465762,"[{""name"": ""Pana Film"", ""id"": 58135}]","[{""iso_3166_1"": ""TR"", ""name"": ""Turkey""}]",2006-02-03,0,122.0,"[{""iso_639_1"": ""ar"", ""name"": ""\u0627\u0644\u06...",Released,Some Men Are Born to be Heroes,Valley of the Wolves: Iraq,4.3,7
4272,1300000,"[{""id"": 18, ""name"": ""Drama""}]",http://www.journeyfromthefall.com/home.aspx,25784,"[{""id"": 2956, ""name"": ""vietnam""}, {""id"": 10183...",vi,Vượt Sóng,Thirteen years after the end of the Vietnam Wa...,0.072066,[],[],2006-02-22,639000,135.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,NaN,Journey from the Fall,5.0,1
2787,12000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 18, ""...",NaN,62204,"[{""id"": 4428, ""name"": ""stone age""}, {""id"": 159...",xx,La Guerre du feu,A colossal adventure odyssey that turns back t...,6.537986,"[{""name"": ""Belstar Productions"", ""id"": 999}, {...","[{""iso_3166_1"": ""CA"", ""name"": ""Canada""}, {""iso...",1981-12-15,55260558,100.0,"[{""iso_639_1"": ""xx"", ""name"": ""No Language""}]",Released,NaN,Quest for Fire,7.1,109
2515,17000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 18, ""...",NaN,146,"[{""id"": 334, ""name"": ""flying""}, {""id"": 779, ""n...",zh,卧虎藏龙,Two warriors in pursuit of a stolen sword and ...,45.742254,"[{""name"": ""Sony Pictures Classics"", ""id"": 58},...","[{""iso_3166_1"": ""CN"", ""name"": ""China""}, {""iso_...",2000-10-01,213525736,120.0,"[{""iso_639_1"": ""zh"", ""name"": ""\u666e\u901a\u8b...",Released,"A timeless story of strength, secrets and two ...","Crouching Tiger, Hidden Dragon",7.2,927

In [163]:
taishi_df.groupby("武将姓")["統率"].max()

武将姓
お       79
おつやの    73
ね       75
ま       73
ガラ      69
        ..
黒岩      40
黒川      74
黒沢      45
黒田      88
龍造寺     86
Name: 統率, Length: 881, dtype: int64

In [168]:
taishi_df.iloc[taishi_df.groupby("武将姓")["野心"].idxmax()]

,武将姓,武将名,統率,武勇,知略,内政,外政,戦闘,政治,合計,...,没年,寿命,義理親,志,戦法,補佐,作戦,気質,野心,母親
2151,お,市,79,74,77,60,75,153,135,365,...,1583年,37,-,家名存続,舞姫,奪力,囮挑発,勲功,5,-
2174,おつやの,方,73,76,71,45,55,149,100,320,...,1575年,38,-,家名存続,舞姫,技巧,神出鬼没,勲功,11,-
2165,ね,ね,75,69,77,73,80,144,153,374,...,1624年,78,-,家名存続,叱咤,治癒,囮挑発,才覚,2,-
2164,ま,つ,73,65,70,78,70,138,148,356,...,1617年,71,-,所領拡大,叱咤,治癒,囮挑発,勲功,1,-
2154,ガラ,シャ,69,63,67,60,70,132,130,329,...,1600年,37,-,家名存続,舞姫,治癒,囮挑発,芸道,3,-
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
851,黒岩,種直,40,49,50,46,45,89,91,230,...,1582年,35,-,所領拡大,臨戦,万全,囮挑発,才覚,7,-
50,黒川,晴氏,74,73,66,52,58,147,110,323,...,1599年,77,-,所領拡大,急襲,復帰,囮挑発,家名,9,-
1010,黒沢,道家,45,67,40,64,50,112,114,266,...,1623年,57,-,家名存続,突撃,速攻,全軍突撃,才覚,5,-
1572,黒田,秀忠,52,45,58,65,63,97,128,283,...,1546年,50,-,家名存続,臨戦,万全,囮挑発,家名,14,-
898,龍造寺,隆信,86,85,70,45,53,171,98,339,...,1584年,56,-,五州太守,奮闘,猛攻,全軍突撃,実利,14,-

In [181]:
df1 = pd.DataFrame({"key1": ["k0","k1","k2"],
                    "ID": ["aa","bb","cc"],
                   "A": ["a0", "a1", "a2"],
                   "B": ["b0", "b1", "b2"]})


df2 = pd.DataFrame({"key2": ["k0","k1","k2"],
                   "ID": ["aa","bb","cc"],
                   "C": ["c0", "c1", "c2"],
                   "D": ["d0", "d1", "d2"]})

In [183]:
df1

  key1  ID   A   B
0   k0  aa  a0  b0
1   k1  bb  a1  b1
2   k2  cc  a2  b2

In [184]:
df2

  key2  ID   C   D
0   k0  aa  c0  d0
1   k1  bb  c1  d1
2   k2  cc  c2  d2

In [174]:
pd.concat([df1, df2], axis=1)

  key   A   B key   C   D
0  k0  a0  b0  k0  c0  d0
1  k1  a1  b1  k1  c1  d1
2  k2  a2  b2  k2  c2  d2

In [182]:
df1.merge(df2, left_on="key1", right_on="key2")

  key1 ID_x   A   B key2 ID_y   C   D
0   k0   aa  a0  b0   k0   aa  c0  d0
1   k1   bb  a1  b1   k1   bb  c1  d1
2   k2   cc  a2  b2   k2   cc  c2  d2

In [187]:
df_movies = pd.read_csv("dataset/tmdb_5000_movies.csv")
df_credits = pd.read_csv("dataset/tmdb_5000_credits.csv")

In [198]:
df_movies.head(1)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800

In [199]:
df_credits.head(1)

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [196]:
df = df_movies.merge(df_credits, left_on="id",
                right_on="movie_id",
                suffixes=("_movies","_credits"))

In [197]:
len(df)

4803

In [ ]:
df_movies.merge(df_credits, on_index_)

In [202]:
df_movies = pd.read_csv("dataset/tmdb_5000_movies.csv")
df_movies["original_language"].unique()

array(['en', 'ja', 'fr', 'zh', 'es', 'de', 'hi', 'ru', 'ko', 'te', 'cn',
       'it', 'nl', 'ta', 'sv', 'th', 'da', 'xx', 'hu', 'cs', 'pt', 'is',
       'tr', 'nb', 'af', 'pl', 'he', 'ar', 'vi', 'ky', 'id', 'ro', 'fa',
       'no', 'sl', 'ps', 'el'], dtype=object)

In [203]:
taishi_df["武将姓"].unique()

array(['蠣崎', '近藤', '南条', '南部', '石川', '泉山', '北', '八戸', '九戸', '大浦', '沼田',
       '小笠原', '兼平', '森岡', '浪岡', '斯波', '猪去', '岩清水', '簗田', '葛西', '柏山', '米谷',
       '武鑓', '矢作', '大崎', '一栗', '一迫', '氏家', '黒川', '四釜', '新井田', '宮崎', '留守',
       '伊達', '国分', '相馬', '泉田', '江井', '佐藤', '水谷', '岩城', '佐竹', '船尾', '田村',
       '小峰', '河東田', '蘆名', '二階堂', '針生', '猪苗代', '金上', '松本', '富田', '佐瀬',
       '平田', '大内', '安東', '豊島', '浅利', '戸沢', '本堂', '戸蒔', '小野寺', '鮭延', '大宝寺',
       '最上', '成沢', '北楯', '志村', '楯岡', '新関', '延沢', '遠藤', '鬼庭', '片倉', '川村',
       '小梁川', '桑折', '後藤', '白石', '鈴木', '中野', '牧野', '支倉', '原田', '屋代', '梅津',
       '岡本', '小貫', '小野崎', '車', '渋江', '和田', '江戸', '真壁', '大掾', '小田', '菅谷',
       '足利', '結城', '宇都宮', '松平', '小山', '岩上', '多賀谷', '千葉', '原', '高城', '里見',
       '正木', '土岐', '酒井', '御子神', '壬生', '芳賀', '今泉', '皆川', '那須', '大田原', '大関',
       '福原', '佐野', '山上', '上杉', '長野', '上泉', '小幡', '長尾', '横瀬', '上田', '藤田',
       '太田', '北条', '宮城', '成田', '松田', '大道寺', '遠山', '垪和', '清水', '石巻', '板部岡',
       '猪俣', '安藤', '梶原', '風魔', '今川', '関口', '太原', '朝比奈', '安倍', '天野', '井伊',
       '飯尾', '鵜殿', '岡部', '奥平', '葛山', '久能', '菅沼', '御宿', '本多', '榊原', '大久保',
       '鳥居', '服部', '平岩', '渡辺', '青山', '板倉', '伊奈', '土井', '内藤', '山口', '小牧',
       '毛利', '南光坊', '織田', '林', '池田', '河尻', '佐久間', '佐々', '柴田', '滝川', '前田',
       '丹羽', '木下', '三好', '塙', '金森', '蜂須賀', '蜂屋', '古田', '森', '平野', '生駒',
       '前野', '堀', '村井', '浅野', '小野木', '加藤', '仙石', '寺沢', '戸田', '中村', '福島',
       '堀尾', '増田', '溝口', '山内', '徳永', '徳山', '百々', '平岡', '平塚', '松野', '毛受',
       '斎藤', '明智', '稲葉', '可児', '竹中', '日根野', '妻木', '溝尾', '関', '神戸', '北畠',
       '細野', '分部', '木造', '鳥屋尾', '藤方', '九鬼', '向井', '武田', '諏訪', '仁科', '小山田',
       '穴山', '秋山', '高坂', '馬場', '飯富', '土屋', '山本', '多田', '跡部', '初鹿野', '真田',
       '矢沢', '村上', '須田', '高梨', '蘆田', '島津', '二木', '犬甘', '保科', '木曾', '山村',
       '三木', '内ヶ島', '江馬', '塩屋', '色部', '大熊', '柿崎', '河田', '新発田', '直江', '樋口',
       '中条', '本庄', '安田', '宇佐美', '小島', '甘粕', '岩井', '春日', '志駄', '水原', '平林',
       '神保', '寺島', '水越', '寺崎', '畠山', '長', '温井', '遊佐', '三善', '朝倉', '魚住',
       '河合', '前波', '真柄', '山崎', '浅井', '赤尾', '阿閉', '磯野', '海北', '片桐', '藤堂',
       '宮部', '石田', '大谷', '大野', '木村', '田中', '長束', '脇坂', '六角', '蒲生', '毛屋',
       '三雲', '吉田', '朽木', '横山', '森田', '植田', '大館', '滝野', '百地', '一色', '蜷川',
       '京極', '細川', '薄田', '波多野', '赤井', '荒木', '籾井', '稲富', '本願寺', '願証寺',
       '下間', '窪田', '七里', '徳田', '安宅', '十河', '岩成', '香川', '篠原', '津田', '中川',
       '松永', '高山', '柳生', '安見', '小西', '筒井', '島', '松倉', '井戸', '箸尾', '岡',
       '土橋', '山名', '垣屋', '田結庄', '森下', '吉岡', '尼子', '赤穴', '宇山', '亀井', '佐世',
       '立原', '本城', '三沢', '山中', '別所', '淡河', '糟屋', '赤松', '小寺', '黒田', '母里',
       '宮本', '竹内', '浦上', '島村', '明石', '延原', '宇喜多', '長船', '戸川', '花房', '中島',
       '三村', '杉原', '乃美', '吉川', '小早川', '穂井田', '熊谷', '宍戸', '桂', '志道', '口羽',
       '国司', '児玉', '堅田', '佐波', '南方', '市川', '安国寺', '平賀', '青景', '飯田', '陶',
       '杉', '問田', '仁保', '弘中', '吉見', '益田', '大西', '七条', '寒川', '高原', '羽床',
       '河野', '金子', '西園寺', '北之川', '土居', '法華津', '長宗我部', '吉良', '香宗我部', '桑名',
       '谷', '豊永', '久武', '福留', '江村', '本山', '安芸', '公文', '黒岩', '一条', '窪川',
       '高島', '立石', '城井', '佐田', '佐々木', '大友', '一萬田', '臼杵', '佐伯', '志賀', '田北',
       '田原', '高橋', '角隈', '戸次', '吉弘', '筑紫', '秋月', '蒲池', '田尻', '問註所', '江上',
       '神代', '龍造寺', '鍋島', '江里口', '円城寺', '成松', '百武', '執行', '成富', '松浦',
       '有馬', '安富', '大村', '赤星', '隈部', '城', '阿蘇', '甲斐', '高森', '相良', '上村',
       '犬童', '深水', '丸目', '伊東', '川崎', '木脇', '長倉', '山田', '肝付', '伊地知', '禰寝',
       '薬丸', '伊集院', '上井', '頴娃', '樺山', '猿渡', '種子島', '長寿院', '新納', '北郷',
       '川上', '厚谷', '桜庭', '鱒沢', '以心', '井田', '川島', '保土原', '小田辺', '黒沢', '中山',
       '石野', '仁木', '赤座', '足立', '奥村', '郡', '速水', '水野', '由布', '小野', '赤池',
       '和久', '東郷', '安井', '天草', '津軽', '和賀', '亀ヶ森', '下国', '長門', '川原', '雫石',
       '稗貫', '及川', '萱場', '亘理', '草野', '穴沢', '二本松', '懸田', '天童', '谷柏', '阿部',
       '林崎', '愛洲', '益子', '多功', '真里谷', '大石', '富永', '多目', '伊丹', '長坂', '平手',
       '山路', '拝郷', '雲林院', '河原', '出浦', '清野', '楽巌寺', '高遠', '傑山', '小間', '椎名',
       '富樫', '堀江', '粟屋', '湯浅', '雨森', '安養寺', '多賀', '柳沢', '楠木', '三淵', '香西',
       '越智', '十市', '果心', '湯川', '的場', '佐武', '奥', '杉谷', '衣笠', '久米', '神吉',
       '庄', '冷泉', '忽那', '祖母井', '曾根', '秦泉寺', '菊池', '少弐', '小河', '納富', '朝長',
       '西郷', '米良', '土持', '三浦', '青田', '木幡', '大塚', '駒木根', '郡司', '白河', '和知',
       '小国', '五十目', '花輪', '嘉成', '門脇', '大和田', '西野', '六郷', '来次', '東禅寺',
       '仁賀保', '江口', '白鳥', '神生', '岡見', '信太', '大貫', '神馬', '茂呂', '難波田', '笠原',
       '狩野', '寿桂', '瀬名', '大須賀', '高力', '永井', '成瀬', '川口', '那古野', '兼松', '桑山',
       '小坂', '土方', '坂井', '小出', '長崎', '青木', '早川', '不破', '野々村', '一柳', '伊藤',
       '堀田', '鹿伏兎', '国府', '森本', '堀内', '板垣', '甘利', '横田', '三枝', '駒井', '禰津',
       '海野', '常田', '鎌原', '大井', '知久', '藤沢', '麻生野', '明叔', '千坂', '上条', '竹俣',
       '吉江', '桃井', '山本寺', '山吉', '長沢', '土肥', '飯川', '三宅', '溝江', '逸見', '武藤',
       '野村', '小堀', '垣見', '進藤', '高田', '本泉寺', '杉浦', '茨木', '木沢', '菅', '平',
       '中坊', '岸田', '宝蔵院', '野長瀬', '太田垣', '八木', '行松', '牛尾', '宇野', '井上',
       '栗山', '金田', '牧', '伊賀', '植木', '上野', '楢崎', '新見', '田坂', '椋梨', '三吉',
       '多賀山', '和智', '赤川', '阿曾沼', '己斐', '森脇', '手島', '二宮', '新開', '伊沢', '戒能',
       '来島', '吉松', '敷地', '野仲', '本荘', '加来', '入田', '麻生', '恵利', '大木', '西牟田',
       '原野', '高木', '籠手田', '佐川', '日高', '平井', '鹿子木', '北里', '稲津', '三田井',
       '北原', '荒武', '安楽', '祁答院', '入来院', '鎌田', '園田', '佐多', '千', '徳川', '秋田',
       '新庄', '稲垣', '秋元', '西尾', '竹腰', '蒔田', '市橋', '久留島', '小浜', '長谷川', '亀田',
       '小林', '松前', '七戸', '石亀', '田鎖', '山岡', '湯目', '大高', '松根', '矢田野', '小場',
       '高瀬', '安中', '室賀', '孕石', '五藤', '永原', '河副', '中井', '三刀屋', '多胡', '松井',
       '江良', '得居', '佃', '津野', '村田', '十時', '千々石', '福田', '稲次', '庄林', '斑鳩',
       '佐牟田', '湯地', '伊勢', '中馬', '新野', '畑山', '内田', '大月', '印牧', '赤尾津', '高屋',
       '大井田', '日笠', '浮田', '重見', '八柏', '姉崎', '浜田', '松岡', '南', '毛馬内', '新城',
       '荻野', '櫛橋', '間宮', '神森', '宗像', '本間', '弥', '望月', '出雲', '名古屋', '大祝',
       '土佐林', '仙桃', '帰', '蔵春', '嶺松', '黄梅', 'お', '義', 'ガラ', '茶', '徳', '督',
       '小', '妙', '定恵', '三条', '禰', 'ま', 'ね', '菊', '阿', '吉', '瑞渓', '水',
       '妙蓮', '冬', 'おつやの', '飯坂', '松', '土田', '愛'], dtype=object)

In [206]:
taishi_df["武将姓"].nunique()

881

In [205]:
taishi_df.groupby("武将姓").[]count()

,武将名,統率,武勇,知略,内政,外政,戦闘,政治,合計,父親,...,没年,寿命,義理親,志,戦法,補佐,作戦,気質,野心,母親
武将姓,,,,,,,,,,,,,,,,,,,,,
お,4,4,4,4,4,4,4,4,4,4,...,4,4,4,4,4,4,4,4,4,4
おつやの,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
ね,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
ま,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
ガラ,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
黒岩,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
黒川,2,2,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
黒沢,2,2,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
黒田,7,7,7,7,7,7,7,7,7,7,...,7,7,7,7,7,7,7,7,7,7
龍造寺,9,9,9,9,9,9,9,9,9,9,...,9,9,9,9,9,9,9,9,9,9

In [210]:
df_movies["original_language"].value_counts()

en    4505
fr      70
es      32
zh      27
de      27
hi      19
ja      16
it      14
cn      12
ru      11
ko      11
pt       9
da       7
sv       5
fa       4
nl       4
th       3
he       3
id       2
cs       2
ar       2
ro       2
ta       2
no       1
te       1
ps       1
ky       1
af       1
vi       1
hu       1
tr       1
pl       1
is       1
xx       1
sl       1
nb       1
el       1
Name: original_language, dtype: int64

In [211]:
taishi_df["武将姓"].value_counts()

松平    22
島津    21
織田    20
北条    19
本多    17
      ..
由布     1
米良     1
竹俣     1
中野     1
久米     1
Name: 武将姓, Length: 881, dtype: int64

In [213]:
df_movies.sort_values("budget",ascending=False)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
17,380000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 28, ""...",http://disney.go.com/pirates/index-on-stranger...,1865,"[{""id"": 658, ""name"": ""sea""}, {""id"": 1316, ""nam...",en,Pirates of the Caribbean: On Stranger Tides,Captain Jack Sparrow crosses paths with a woma...,135.413856,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2011-05-14,1045713802,136.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Live Forever Or Die Trying.,Pirates of the Caribbean: On Stranger Tides,6.4,4948
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500
7,280000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://marvel.com/movies/movie/193/avengers_ag...,99861,"[{""id"": 8828, ""name"": ""marvel comic""}, {""id"": ...",en,Avengers: Age of Ultron,When Tony Stark tries to jumpstart a dormant p...,134.279229,"[{""name"": ""Marvel Studios"", ""id"": 420}, {""name...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2015-04-22,1405403694,141.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,A New Age Has Come.,Avengers: Age of Ultron,7.3,6767
10,270000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://www.superman.com,1452,"[{""id"": 83, ""name"": ""saving the world""}, {""id""...",en,Superman Returns,Superman returns to discover his 5-year absenc...,57.925623,"[{""name"": ""DC Comics"", ""id"": 429}, {""name"": ""L...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2006-06-28,391081192,154.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,NaN,Superman Returns,5.4,1400
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-03-07,284139100,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3465,0,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 18, ""nam...",NaN,11191,"[{""id"": 10183, ""name"": ""independent film""}, {""...",en,Mystic Pizza,Three teenage girls come of age while working ...,6.379933,"[{""name"": ""Night Light Films"", ""id"": 3344}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",1988-10-13,0,104.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,A Romantic Comedy With The Works,Mystic Pizza,5.9,123
3461,0,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 18, ""nam...",NaN,36739,"[{""id"": 4344, ""name"": ""musical""}]",en,School Daze,In the South of the United States are taking p...,3.159574,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",1988-02-12,0,121.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,NaN,School Daze,6.2,26
3459,0,"[{""id"": 35, ""name"": ""Comedy""}]",NaN,13785,"[{""id"": 1245, ""name"": ""illinois""}, {""id"": 2589...",en,Best in Show,"The tension is palpable, the excitement is mou...",10.982255,"[{""name"": ""Castle Rock Entertainment"", ""id"": 97}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2000-09-19,0,90.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,Some pets deserve a little more respect than o...,Best in Show,6.7,166
3452,0,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 18, ""nam...",NaN,20322,"[{""id"": 10183, ""name"": ""independent film""}, {""...",en,The Brothers,"This is the story of four African-American ""yu...",3.029944,[],"[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2001-03-23,0,106.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,NaN,The Brothers,6.5,10
4802,0,"[{""id"": 99, ""name"": ""Documentary""}]",NaN,25975,"[{""id"": 1523, ""name"": ""obsession""}, {""id"": 224...",en,My Date with Drew,Ever since the second grade when he first saw ...,1.929883,"[{""name"": ""rusty bear entertainment"", ""id"": 87...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2005-08-05,0,90.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,NaN,My Date with Drew,6.3,16

In [245]:
df = pd.read_csv("dataset/tmdb_5000_movies.csv")
df.head(1)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800

In [232]:
# def return_nan_if_zero(budget):
# #     if budget == 0:
# #         return np.nan
# #     else:
# #         return budget

In [246]:
df["budget"] = df["budget"].apply(lambda budget: np.nan if budget==0 else budget)
df["revenue"] = df["revenue"].apply(lambda revenue: np.nan if budget==0 else revenue)

In [248]:
df.head(1)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000.0,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800

In [252]:
df = df.dropna(subset = ["budget","revenue"])

In [258]:
df["profit"] = df.apply(lambda row:row["revenue"] - row["budget"], axis=1)

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [263]:
df
df[df["profit"] < 0]["profit"].count()/len(df)

0.35209771640998405

In [271]:
df.iloc[df["profit"].idxmax()]

budget                                                           2.37e+08
genres                  [{"id": 28, "name": "Action"}, {"id": 12, "nam...
homepage                                      http://www.avatarmovie.com/
id                                                                  19995
keywords                [{"id": 1463, "name": "culture clash"}, {"id":...
original_language                                                      en
original_title                                                     Avatar
overview                In the 22nd century, a paraplegic Marine is di...
popularity                                                        150.438
production_companies    [{"name": "Ingenious Film Partners", "id": 289...
production_countries    [{"iso_3166_1": "US", "name": "United States o...
release_date                                                   2009-12-10
revenue                                                        2787965087
runtime                                                               162
spoken_languages        [{"iso_639_1": "en", "name": "English"}, {"iso...
status                                                           Released
tagline                                       Enter the World of Pandora.
title                                                              Avatar
vote_average                                                          7.2
vote_count                                                          11800
profit                                                        2.55097e+09
Name: 0, dtype: object

In [270]:
taishi_df.iloc[taishi_df["合計"].idxmax()]

武将姓       北条
武将名       早雲
統率        98
武勇        90
知略        98
内政        95
外政        96
戦闘       188
政治       191
合計       477
父親         -
姓読み    ほうじょう
名読み     そううん
誕生年    1432年
登場年    1447年
没年     1519年
寿命        88
義理親        -
志       天下統一
戦法        策士
補佐        復讐
作戦      神出鬼没
気質        野心
野心         5
母親         -
Name: 2141, dtype: object

In [265]:
taishi_df.columns

Index(['武将姓', '武将名', '統率', '武勇', '知略', '内政', '外政', '戦闘', '政治', '合計', '父親',
       '姓読み', '名読み', '誕生年', '登場年', '没年', '寿命', '義理親', '志', '戦法', '補佐', '作戦',
       '気質', '野心', '母親'],
      dtype='object')

In [272]:
df[df["profit"] == df["profit"].max()]

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,profit
0,237000000.0,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,2.550965e+09

In [275]:
taishi_df[taishi_df["合計"] == taishi_df["合計"].min()]

,武将姓,武将名,統率,武勇,知略,内政,外政,戦闘,政治,合計,...,没年,寿命,義理親,志,戦法,補佐,作戦,気質,野心,母親
1424,阿部,正豊,22,31,29,22,22,53,44,126,...,1535年,15,-,家名存続,臨戦,万全,囮挑発,家名,14,-

In [279]:
type(next(df.iterrows()))

tuple

In [283]:
a, b = next(df.iterrows())

In [284]:
a

0

In [285]:
b

budget                                                           2.37e+08
genres                  [{"id": 28, "name": "Action"}, {"id": 12, "nam...
homepage                                      http://www.avatarmovie.com/
id                                                                  19995
keywords                [{"id": 1463, "name": "culture clash"}, {"id":...
original_language                                                      en
original_title                                                     Avatar
overview                In the 22nd century, a paraplegic Marine is di...
popularity                                                        150.438
production_companies    [{"name": "Ingenious Film Partners", "id": 289...
production_countries    [{"iso_3166_1": "US", "name": "United States o...
release_date                                                   2009-12-10
revenue                                                        2787965087
runtime                                                               162
spoken_languages        [{"iso_639_1": "en", "name": "English"}, {"iso...
status                                                           Released
tagline                                       Enter the World of Pandora.
title                                                              Avatar
vote_average                                                          7.2
vote_count                                                          11800
profit                                                        2.55097e+09
Name: 0, dtype: object

In [286]:
df = pd.read_csv("dataset/tmdb_5000_movies.csv")

In [ ]:
# df = [lambda rows: for idx, row in df.iterrows()]

In [288]:
for _, row in df.iterrows():
    if row["vote_average"] == 10:
        print(row["title"])

Stiff Upper Lips
Dancer, Texas Pop. 81
Me You and Five Bucks
Little Big Top